<div class="container">
  <h4>Rendering configuration</h4>

    <div class="pl-3 py-2">
      <div class="d-flex justify-content-between pr-1">
        <div>
          Choose heatmap mode
          <HelpTooltipRight @title={{this.descriptions.heatmapMode}} />
        </div>
        <div class="align-items-end">
        {{#power-select
          options=heatmapModes
          selected=selectedMode
          onchange=(action "setHeatmapMode")
          placeholder="Select heatmap mode..."
          searchEnabled=false
          matchTriggerWidth=false
          as |heatmapMode|
        }}
          {{heatmapMode.name}}
        {{/power-select}}
        </div>
      </div>
    </div>

    <div class="pl-3">
      <div class="d-flex justify-content-between pr-3">
        <div>
          Use simple heat visualization
          <HelpTooltipRight @title={{this.descriptions.visualizationMode}} />
        </div>
        <div>
        <XToggle
          @theme='skewed'
          @onLabel='Yes'
          @offLabel='No'
          @value={{get this.heatmapRepo "useSimpleHeat"}}
          @onToggle={{action (mut (get this.heatmapRepo "useSimpleHeat"))}}
        />
        </div>
      </div>
    </div>

    {{#if heatmapRepo.useSimpleHeat}}
    <div class="pl-3">
      <div class="d-flex justify-content-between">
        <div>
          Set heatmap point radius
          <HelpTooltipRight @title={{this.descriptions.heatmapRadius}} />
        </div>
        <BsForm model={{this}} as |form|>
          <form.element
            class="d-contents"
            @controlType="number"
            @step="1"
            @value={{heatmapRadius}}
            @onChange={{action "onHeatmapRadiusChange"}}
          />
        </BsForm>
      </div>
    </div>

    <div class="pl-3 py-2">
      <div class="d-flex justify-content-between">
        <div>
          Set heatmap blur radius
          <HelpTooltipRight @title={{this.descriptions.blurRadius}} />
        </div>
        <BsForm model={{this}} as |form|>
          <form.element
            class="d-contents"
            @controlType="number"
            @step="1"
            @value={{blurRadius}}
            @onChange={{action "onBlurRadiusChange"}}
          />
        </BsForm>
      </div>
    </div>
    {{/if}}

    <div class="pl-3">
      <div class="d-flex justify-content-between pr-3">
        <div>
          Show helper lines
          <HelpTooltipRight @title={{this.descriptions.helperLines}} />
        </div>
        <XToggle
          @theme='skewed'
          @onLabel='Yes'
          @offLabel='No'
          @value={{get this.heatmapRepo "useHelperLines"}}
          @onToggle={{action (mut (get this.heatmapRepo "useHelperLines"))}}
        />
      </div>
    </div>

    <div class="pl-3 py-2">
      <div class="d-flex justify-content-between">
        <div>
          Set package opacity value
          <HelpTooltipRight @title={{this.descriptions.opacityValue}} />
        </div>
        <BsForm model={{this}} as |form|>
          <form.element
            class="d-contents"
            @controlType="number"
            @step=".01"
            @value={{opacityValue}}
            @onChange={{action "onOpacityValueChange"}}
          />
        </BsForm>
      </div>
    </div>

    <div class="pl-3">
      <div class="d-flex justify-content-between pr-3">
        <div>
          Show legend values
          <HelpTooltipRight @title={{this.descriptions.showLegendValues}} />
        </div>
        <XToggle
          @theme='skewed'
          @onLabel='Yes'
          @offLabel='No'
          @value={{get this.heatmapRepo "showLegendValues"}}
          @onToggle={{action (mut (get this.heatmapRepo "showLegendValues"))}}
        />
      </div>
    </div>


    <div class="d-flex justify-content-between pr-3 mt-5">
      <div>
        <h4>Simpleheat gradient configuration 
          <HelpTooltipRight @title={{this.descriptions.shGradient}} />
        </h4>
      </div>
      <XToggle
        @theme='flat'
        @value={{this.shVisible}}
        @onToggle={{action (mut this.shVisible)}}
      />
    </div>
    {{#if this.shVisible}}
    <div class="row mb-1 pr-3">
      {{#each-in this.heatmapRepo.simpleHeatGradient as |key val|}}
        <div class="col-md-4 col-lg-2 col-xl-2 mt-3">
          <div>
            Stop value: {{revert-key key '_' '.'}}
          </div>
          <div id="{{concat "sh-gradient-" key}}" class="input-group">
            <Input @type="text" @class="form-control input-lg" @value={{mut (get this.heatmapRepo.simpleHeatGradient key)}}/>
          </div>
        </div>
      {{else}}
        ERR: Gradient is empty.
      {{/each-in}}
    </div>
    <div class="d-flex justify-content-end pr-3">
      {{#bs-button type="primary" onClick=(action "resetSimpleHeatGradient") class="float-right"}}
        Reset to default
      {{/bs-button}}
    </div>
    {{/if}}

    <div class="d-flex justify-content-between pr-3 mt-5">
      <div>
        <h4>
          Array heatmap gradient configuration
          <HelpTooltipRight @title={{this.descriptions.ahGradient}} />      
        </h4>
      </div>
      <XToggle
        @theme='flat'
        @value={{this.ahVisible}}
        @onToggle={{action (mut this.ahVisible)}}
      />
    </div>
    {{#if this.ahVisible}}
    <div class="row">
      {{#each-in this.heatmapRepo.arrayHeatGradient as |key val|}}
        <div class="col-md-4 col-lg-2 col-xl-2 mt-3">
          <div>
            Stop value: {{revert-key key '_' '.'}}
          </div>
          <div id="{{concat "ah-gradient-" key}}" class="input-group">
            <Input @type="text" @class="form-control input-lg" @value={{mut (get this.heatmapRepo.arrayHeatGradient key)}}/>
          </div>
        </div>
      {{else}}
        ERR: Gradient is empty.
      {{/each-in}}
    </div>
    <div class="d-flex justify-content-end pr-3">
      {{#bs-button type="primary" onClick=(action "resetArrayHeatGradient") class="float-right"}}
        Reset to default
      {{/bs-button}}
    </div>
    {{/if}}
</div>