<div class="container">

    <h4>Heatmap modes</h4>

    {{#power-select
      options=heatmapModes
      selected=selectedMode
      onchange=(action "setHeatmapMode")
      placeholder="Select heatmap mode..."
      searchEnabled=false
      matchTriggerWidth=false
      as |heatmapMode|
    }}
      <strong>{{heatmapMode.name}}</strong>
    {{/power-select}}

    <h4 class="mt-5">Use simpleheat visualization</h4>

    {{#power-select
      options=dropdownOptions
      selected=useSimpleHeat
      onchange=(action "setUseSimpleHeat")
      placeholder="Select visualization type..."
      searchEnabled=false
      matchTriggerWidth=false
      as |option|
    }}
      <strong>{{option}}</strong>
    {{/power-select}}

    <h4 class="mt-5">Helper lines</h4>

    {{#power-select
      options=dropdownOptions
      selected=useHelperLines
      onchange=(action "setUseHelperLines")
      placeholder="Select heatmap mode..."
      searchEnabled=false
      matchTriggerWidth=false
      as |option|
    }}
      <strong>{{option}}</strong>
    {{/power-select}}

    <h4 class="mt-5">Simpleheat configuration</h4>
    
    <div class="row">
    {{#each-in this.heatmapRepo.simpleHeatGradient as |key val|}}
    <div class="col-md-6 col-lg-4 col-xl-3 mt-3">
            <div>Stop value: {{revert-key key '_' '.'}}</div>

            {{!-- <div>{{value}}</div> --}}
            <div id="{{concat "sh-gradient-" key}}" class="input-group">
                <Input @type="text" @class="form-control input-lg" @value={{mut (get this.heatmapRepo.simpleHeatGradient key)}}/>
            </div>
    </div>
    {{else}}
    ERR: Gradient is empty.
    {{/each-in}}
    </div>

    <h4 class="mt-5">Array Heatmap configuration</h4>

    <div class="row">
    {{#each-in this.heatmapRepo.arrayHeatGradient as |key val|}}
    <div class="col-md-6 col-lg-4 col-xl-3 mt-3">
            <div>Stop value: {{revert-key key '_' '.'}}</div>

            {{!-- <div>{{value}}</div> --}}
            <div id="{{concat "sh-gradient-" key}}" class="input-group">
                <Input @type="text" @class="form-control input-lg" @value={{mut (get this.heatmapRepo.arrayHeatGradient key)}}/>
            </div>
    </div>
    {{else}}
    ERR: Gradient is empty.
    {{/each-in}}
    </div>

</div>